---
import "@fontsource/abeezee";
---

<!-- class="font-bold text-[20px] rounded-full w-[255px] h-[70px] text-white hover:text-[#D4AF37]
  bg-[#D4AF37] hover:bg-[#050708]/80 focus:ring-4 focus:outline-none px-5 py-2.5 text-center
   dark:hover:bg-[#000000]/70 flex items-center justify-center gap-x-2 transition-all" -->
<a
  class="relative flex text-[20px] w-[255px] h-[60px] 2xl:w-[255px] 2xl:h-[70px] gap-x-2 2xl:text-[20px] items-center rounded-full justify-center overflow-hidden bg-gray-800 text-white shadow-2xl transition-all before:absolute before:h-0 before:w-0 before:rounded-full before:bg-[#D4AF37] before:duration-500 before:ease-out hover:shadow-[#D4AF37] hover:before:h-80 hover:before:w-80"
  {...Astro.props}
>
  <span class="relative z-10">
    <slot />
  </span>
  <svg
    class="size-5 z-10"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 14 10"
  >
    <path
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M1 5h12m0 0L9 1m4 4L9 9"></path>
  </svg>
</a>

<style>
  a {
    font-family: "ABeeZee", sans-serif;
  }
</style>
