<nav class="sticky top-0 z-10 bg-white/50 backdrop-blur-md shadow-lg mx-auto mt-4 rounded-xl p-2 place-content-between items-center flex flex-row max-w-7xl">
    <img class="w-[80px] md:w-[100px] rounded-lg" src="/public/LOGO.svg" alt="">
    <ul class="flex flex-row gap-3 md:gap-5 p-2 md:p-4 font-bold text-xl md:text-2xl">
        <li class="text-black">
            <a href="/index">Home</a>
        </li>
        <li class="text-black">
            <a href="/Servicios">Servicios</a>
        </li>
        <li class="text-black">
            <a href="/Trabajos">Trabajos</a>
        </li>
    </ul>
</nav>