---
import Button from "./Button.astro";
// Supports weights 100-900
import "@fontsource-variable/onest";
import SpanDegradate from "./SpanDegradate.astro";
import ImgSecempreDM from "./ImgSecempreDM.astro";
---

<section
  id="SecempreDM"
  class="w-full h-screen flex justify-center items-center border-2 border-red-600"
>
  <div class="w-full h-[575px] flex justify-center">
    <section
      class="w-[1400px] h-full flex items-center justify-around 2xl:flex-row flex-col"
    >
      <article
        class="2xl:w-[445px] 2xl:h-[490px] w-[300px] h-[340px] 2xl:mb-0 mb-10"
      >
        <ImgSecempreDM />
      </article>
      <div
        class="w-[636px] h-full flex flex-col justify-center items-center 2xl:items-start"
      >
        <h1
          class="sm:w-full mb-6 sm:text-[25px] font-semibold text-center 2xl:text-left text-[19px] w-screen"
        >
          Soy Katiuska Zevallos Orihuela,<SpanDegradate>
            Lashista Trainer</SpanDegradate
          > con casi <SpanDegradate> 12 años de experiencia </SpanDegradate> en extensiones
          de pestañas, lifting y cejas. He estudiado en reconocidas academias de
          belleza en Perú y el extranjero, y me mantengo en <SpanDegradate
            >constante formación</SpanDegradate
          > para estar siempre a la vanguardia en estas técnicas.
        </h1>
        <Button href="#SecEmpreServ"> Servicios y Trabajos</Button>
      </div>
    </section>
  </div>
</section>

<style>
  h1 {
    font-family: "Onest Variable", sans-serif;
  }
</style>
