---
import Button from "./Button.astro";
// Supports weights 100-900
import "@fontsource-variable/onest";
---

<section
  id="SecempreDM"
  class="w-full h-[700px] flex justify-center items-center"
>
  <div class="w-[1912px] h-[475px] flex justify-center">
    <section class="w-[1200px] h-[470px] flex items-center justify-around">
      <article class="w-[345px] h-[390px]">
        <img src="/public/recursos/Imgkat.png" class="rounded-[25px]" alt="" />
      </article>
      <div class="w-[536px] h-full flex flex-col justify-center">
        <h1 class="w-[536px] mb-6 text-[25px] font-semibold">
          Soy Katiuska Zevallos Orihuela, Lashista Trainer con casi 12 años de
          experiencia en extensiones de pestañas, lifting y cejas. He estudiado
          en reconocidas academias de belleza en Perú y el extranjero, y me
          mantengo en constante formación para estar siempre a la vanguardia en
          estas técnicas.
        </h1>
        <Button href="#SecEmpreServ"> Servicios y Trabajos</Button>
      </div>
    </section>
  </div>
</section>

<style>
  h1 {
    font-family: "Onest Variable", sans-serif;
  }
</style>
