---
import Button from "./Button.astro";
// Supports weights 100-900
import "@fontsource-variable/onest";
---

<!-- text-[#FFCA28] [text-shadow:_0_8px_8px_rgb(0,0,0,0.8)] leading-snug font-manrope -->
<section id="Index" class="w-full h-screen flex justify-center items-center">
  <div class="w-[1912px] h-[670px] flex justify-center">
    <section class="w-[1400px] h-full flex items-center justify-between">
      <article class="w-[636px] h-[465px]">
        <img
          class="rounded-[25px] shadow-[0_20px_50px_rgba(0,0,0,_0.8)]"
          src="/public/recursos/Logo.png"
          alt="Imagen del logo de la empresa"
        />
      </article>
      <div class="w-[636px] h-full flex flex-col justify-center">
        <h1 class="w-full mb-6 text-[25px] font-semibold">
          En Namaste realzamos tu mirada y rostro con <span
            class="bg-gradient-to-b from-[#585040] via-[#d4ae3b] to-[#585040] inline-block text-transparent bg-clip-text"
          >
            extensiones de pestañas</span
          >, lifting, <span>microblading</span> , perfilado de cejas y más. <span
          >
            Técnicas innovadoras
          </span>
          para un look <span> radiante, natural y duradero</span>. <span
            >¡Siéntete única, siéntete Namaste!</span
          >
        </h1>

        <Button href="#SecempreDM">Descubre más </Button>
      </div>
    </section>
  </div>
</section>

<style>
  h1 {
    font-family: "Onest Variable", sans-serif;
    color: #000000;
  }

</style>
