---
import Button from "./Button.astro";
// Supports weights 100-900
import "@fontsource-variable/onest";
import "@fontsource/abeezee";
---

<section
  class="w-full h-full flex justify-center items-center mt-[150px] mb-[150px]"
>
  <div
    class="sm:w-[1400px] w-full flex justify-between 2xl:flex-row-reverse flex-col items-center"
  >
    <article
      class="md:w-[675px] md:h-[679px] sm:w-[475px] sm:h-[479px] w-[275px] h-[277px] flex items-center justify-center"
    >
      <img
        src="/public/recursos/ImgServBrown.png "
        class="rounded-[25px] shadow-[0_20px_50px_rgba(0,0,0,_0.8)] hover:scale-105 transition duration-500"
        alt=""
      />
    </article>
    <div
      class="sm:w-[675px] sm:h-[679] w-full h-full flex items-center justify-center"
    >
      <section
        class="sm:w-[675px] w-full h-full flex flex-col justify-center 2xl:items-start items-center"
      >
        <h1
          class="sm:w-[675px] w-screen text-[30px] text-center sm:text-left sm:text-[45px] font-extrabold mt-8 2xl:mt-0"
        >
          Brow Lamination: Cejas Perfectas y Definidas
        </h1>
        <p
          class="sm:w-[675px] w-screen mt-5 mb-5 text-[20px] font-medium text-center 2xl:text-left"
        >
          Consigue unas cejas impecables con el efecto "celebritie": peinadas
          hacia arriba, ordenadas y fijas. Este tratamiento semipermanente alisa
          y redefine incluso el vello más rebelde. ¡Di adiós a las cejas
          desordenadas!
        </p>
        <Button href="/Trabajos">¡Descubre más!</Button>
      </section>
    </div>
  </div>
</section>
<style>
  h1 {
    font-family: "Onest Variable", sans-serif;
  }
  p {
    font-family: "ABeeZee", sans-serif;
  }
</style>
