---
import Wts from '../components/Wts.astro';
import '@fontsource/abeezee';
import '@fontsource-variable/onest';
---

<div id="Servicios" class="flex 2xl:flex-row flex-col-reverse items-center place-content-center pt-32 grid-cols-2 gap-12 pb-[70px]">
	<section class="text-left max-w-3xl 2xl:justify-items-start justify-items-center">
		<h1 class="text-7xl font-bold">Servicios de Belleza y Clases Personalizadas</h1>
		<p class="pt-5 pb-10 text-xl">He estudiado en diversas academias prestigiosas dentro de la industria de la belleza, tanto en Perú como en el extranjero. Siempre estoy en constante capacitaciones, para estar actualizada en el mundo de las pestañas y cejas.</p>
		<Wts class="pt-8">
			Agendar
		</Wts>
	</section>
	<section class="w-[340px] ">
		<img class="rounded-3xl" src="img1.png" alt="">
	</section>
</div>
<div class="flex 2xl:flex-row flex-col items-center pt-10 2xl:ml-80 ml:0  2xl:gap-24 gap-10">
	<div class="flex flex-row grid-cols-2 gap-4 p-2">
		<section class="2xl:w-[180px] w-[450px]">
			<img class="rounded-lg cursor-pointer hover:grayscale" src="lift.png" alt="">
		</section>
		<section class="2xl:max-w-72 max-w-96 2xl:text-[16px] text-[20px]">
			<h1 class="font-bold">
				Extensión y lifting de pestañas.
			</h1>
			<p>
				Our web development service focuses on creating high-performance, low-carbon websites
			</p>
		</section>
	</div>
	<div class="flex flex-row grid-cols-2 gap-4 p-2">
		<section class="2xl:w-[180px] w-[450px]">
			<img class="rounded-lg cursor-pointer hover:grayscale" src="lift.png" alt="">
		</section>
		<section class="2xl:max-w-72 max-w-96 2xl:text-[16px] text-[20px]">
			<h1 class="font-bold">
				Perfilado y planchado de cejas.
			</h1>
			<p>
				We create bespoke, visually striking designs tailored to your brand. Whether you need a full website
			</p>
		</section>
	</div>
</div>
<div class="flex 2xl:flex-row flex-col items-center pt-10 place-content-end 2xl:mr-80 mr-0 2xl:gap-24 gap-10 ">
	<div class="flex flex-row grid-cols-2 gap-4 p-2">
		<section class="2xl:w-[180px] w-[450px]">
			<img class="rounded-lg cursor-pointer hover:grayscale" src="lift.png" alt="">
		</section>
		<section class="2xl:max-w-72 max-w-96 2xl:text-[16px] text-[20px]">
			<h1 class="font-bold">
				Extensión y lifting de pestañas.
			</h1>
			<p>
				Our web development service focuses on creating high-performance, low-carbon websites
			</p>
		</section>
	</div>
	<div class="flex flex-row grid-cols-2 gap-4 p-2 mb-10">
		<section class="2xl:w-[180px] w-[450px]">
			<img class="rounded-lg cursor-pointer hover:grayscale" src="lift.png" alt="">
		</section>
		<section class="2xl:max-w-72 max-w-96 2xl:text-[16px] text-[20px]">
			<h1 class="font-bold">
				Perfilado y planchado de cejas.
			</h1>
			<p>
				We create bespoke, visually striking designs tailored to your brand. Whether you need a full website
			</p>
		</section>
	</div>
</div>

<style>
h1
{

  font-family: 'Onest Variable', sans-serif;

}
p{
	font-family: 'ABeeZee', sans-serif;
}
</style>